#navbar {
    /* position: absolute;
    left: 0px;
    height: 40px; */
    /* background-color: #2C64B4; */
    /* width: 100%;
    display: flex;
    justify-content: center; */
}
/* .navbar{
  background: #2C64B4;
} */
#navbarNav{
  justify-content: center;
}
.navbar .nav-item{
  font-size: 1.125em;
}
/* .navbar .nav-link{
  color: #ffffff;
} */
.bg-primary{
  background-color: #2C64B4!important;
}
.navbar-dark .navbar-nav .nav-link{
  color: #ffffff!important;
}
#navbar ul {
    /* margin: 0;
    padding: 0;
    list-style-type: none; */
}
#navbar ul li {
    /* margin: 0;
    padding: 0;
    float:left; */
}
#navbar ul li a {
    /* text-decoration: none;
    padding: 10px 20px;
    display: block;
    color: #FFF;
    text-align: center; */
}

.requestnow {
  text-transform: uppercase;
}

.requestnow a {
  background-color: #e89b17;
  text-decoration: none;
  color: #fafafa;
  padding: 1em 1.5em;
  box-shadow: 0 5px 0 #a86b02;
}

.requestnow a:hover {
  background-color: #cf870c;
}

#mapid { height: 400px; }

img{
  max-width: 100%;
}

@media screen and (max-width: 991px){
  .navbar-brand.mobile{
    display: block!important;
  }
  .navbar-brand{
    display: none!important;
  }
}
